@import url("https://fonts.googleapis.com/css2?family=Lato&family=Wendy+One&display=swap");

body {
  background: url("../images/bg.png"), lightgray 50% / cover no-repeat;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 21px;
}

.icons {
  width: 38px;
  height: 39.5px;
  flex-shrink: 0;
}

.menu {
  display: inline-flex;
  gap: 9px;
  flex-direction: row;

  color: #642c99;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-section {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.top-section-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 100px;
}

.top-section-image {
  width: 457px;
  height: 630px;
  flex-shrink: 0;
  position: absolute;
  top: 0%;
  left: 60%;
  background: url("../images/donuts1.png"), 100% / cover no-repeat;
}

.top-section-title {
  color: #642c99;
  font-family: Wendy One;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 23px;
}

.top-section-subtitle {
  color: #642c99;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 144.444% */
}

.list-section {
  margin-top: 290px;
  display: flex;
  width: 100%;
  margin-bottom: 50%;
}

.list-section-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  display: flex;
  width: 100%;
  border-collapse: collapse;
  justify-content: center;
  color: #642c99;

  font-family: Wendy One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

td,
th {
  padding-top: 10px;
  text-align: left;
}

tr {
  gap: 61px;
}
.total-container {
  display: flex;
  width: 80%;
  justify-content: end;
  text-align: center;
  align-items: center;
  gap: 80px;
}

.total-label {
  color: #642c99;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}
.total {
  color: #642c99;
  text-align: center;
  font-family: Wendy One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}

.checkout-button {
  width: 322px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #642c99;
  color: #fbfac9;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.checkout-button:hover {
  background: #6b18b8;
}

.action-button {
  width: 40.5px;
  height: 30px;
  margin-left: 2%;
  flex-shrink: 0;
  border-radius: 8px;
  background: #642c99;
  color: #fbfac9;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
footer {
  margin-top: 10%;
  height: 200px;
  position: absolute;
  top: 250vh;
  width: 100%;
}
.footer-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: auto;
}
.footer-contact {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 100px;
}
.logo-title {
  color: #fdefd1;
  font-family: Wendy One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.links {
  color: #fdefd1;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}

.contact-input {
  border-radius: 8px;
  color: #fdefd1;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
  background-color: transparent;

  border: 2px solid #fdefd1;
}

.contact-input::placeholder {
  color: #fdefd1;
}
.sugar-box {
  color: #fdefd1;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}

.footer-button {
  border-radius: 8px;
  background: #fdefd1;
  color: #642c99;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 27px;
  width: 106px;
  height: 43px;
  flex-shrink: 0;
}
.footer-quicklinks{
  color: #FDEFD1;
font-family: Lato;
font-size: 18px;
width: 100%;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 266.667% */
display: flex;
gap: 5%;
margin-top: 5%;
}
